<% provide(:title, "Войти") %>
<h1>Войти</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
    
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control' %>
    
    <%= f.label :password %>
    <%= link_to "(восстановить пароль)", new_password_reset_path %>
    <%= f.password_field :password, class: 'form-control' %>
    
    <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me %>
        <span>Запомнить на этом компьютере</span>
      <% end %>
    <%=  f.submit "Войти", class: "btn btn-primary" %>
    <% end %>
    <%= link_to 'auth/vkontakte' do %>
      <i class="fa fa-vk fa-2x"></i>
    <% end %>
    <p>У вас нет учетной записи? <%= link_to "Регистрация", signup_path %></p>
  </div>
</div>