$("#follow_form_<%= @user.id %>").html("<%= j (render partial: 'users/follow', locals: { object: @user }) %>");
$("#followers").html('<%= @user.followers.count %>');
$("#following").html('<%= @user.following.count %>');