- unless current_user?(object)
  %div{:id => "follow_form_#{object.id}"}
    - if current_user.following?(object)
      = render partial: 'unfollow', locals: {object: object}
    - else
      = render partial: 'follow', locals: {object: object}