 <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    
    <aside class="col-md-4 gravatar_edit">
    <%= image_tag(gravatar_for @user, size: 150) %>
    
    <% f.label :avatar %>
    <%= f.file_field :avatar, class: 'form-control' %>
    </aside>
    
    
    <section class='col-md-8'>
    <%= f.label 'Имя' %>
    <%= f.text_field :name, class: 'form-control' %>
  
    <%= f.label 'Электронная почта' %>
    <%= f.text_field :email, class: 'form-control' %>
  
    <%= f.label 'Пароль' %>
    <%= f.password_field :password, class: 'form-control' %>
  
    <%= f.label 'Подтверждение пароля' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
 
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
    </section>
  <% end %>