= form_for(current_user.active_relationships.find_by(followed_id: object.id), |
  html: { method: :delete}, remote: true) do |f|                             |
  = f.submit "Отписаться", class: "btn btn-danger"
