.col-xs-6.col-sm-3.col-md-3
    .thumbnail.rounded
        = link_to image_tag(gravatar_for(user, size: 150), alt: user.name, class: "img-responsive img-thumbnail"), user
        .caption
            <h3 class="text-center">#{user.name}</h3>
            = render partial: "follow_form", locals: {object: user}