<% provide(:title, "Редактирование профиля") %>
<% provide(:button_text, 'Сохранить') %>
<h1>Редактирование профиля</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
   <%= render 'form' %>
  
  </div>
</div>