- provide(:title, 'Поиск')
= form_tag users_path, method: :get, role: 'search' do
  = text_field_tag :query, params[:query]
  = submit_tag "Искать", name: nil


.row
= render @users if @search_results.empty?
- @search_results.each do |result|
  .col-xs-6.col-md-2
    .thumbnail.rounded
      = link_to image_tag(gravatar_for(result, size: 150), alt: result.name, class: "img-responsive img-thumbnail"), result
      .caption
        <h3 class="text-center">#{result.name}</h3>
      = render partial: "follow_form", locals: {object: result}

 








-#= javascript_pack_tag 'Index', { data: avatars_url(@users) }