<% provide(:title, 'Регистрация') %>
<% provide(:button_text, 'Создать аккаунт') %>
<h1>Регистрация</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
       <%= render 'form' %>
       <ul>
  </ul>
  </div>
</div>