- provide(:title, @user.name)
.row
  %aside.col-md-3
    %section.user_info
      %h1
        = render 'shared/user_info'
    %section.stats
      = render 'shared/stats'
    %section.col-md-8
      = render partial: 'follow_form', locals: {object: @user} if logged_in?
  .col-md-8
    - if @user.microposts.any?
      %h3
        Новости(#{@user.microposts.count})
      %ol.microposts
        = render @microposts
      = will_paginate @microposts
