<% if object.errors.any? %>
  <div id="error_explanation">
     <div class="alert alert-danger">
      Форма содержит <%= pluralize(object.errors.count, "ошибки") %>.
    </div> 
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
