<% if !logged_in?  %>
<%=  display_likes micropost %>
<% elsif current_user.liked? micropost %>
  <%= link_to '', unlike_micropost_path(micropost.id), remote: true,
                        id: "unlike_#{micropost.id}",
                        class: "glyphicon glyphicon-heart" %>
    <%=  display_likes micropost %>
<% else %>
  <%= link_to '', like_micropost_path(micropost.id), remote: true,
                        id: "like_#{micropost.id}",
                        class: "glyphicon glyphicon-heart-empty" %>

    <%=  display_likes micropost %>
  <% end %>
