<li id="micropost-<%= micropost.id %>">
  <%= link_to image_tag(gravatar_for(micropost.user, size: 50), alt: micropost.user.name, class: "gravatar"), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
    <%= micropost.content %>
    <%= image_tag micropost.picture.url if micropost.picture? %>
    <div class="likes" id="likes_<%= micropost.id %>">
    <%=  render "microposts/likes", micropost: micropost %>
    </div>
    </span>
    
  <span class="timestamp">
    Опубликовано <%= time_ago_in_words(micropost.created_at) %> назад.
    <% if current_user?(micropost.user) %>
      <%= link_to "удалить", micropost, method: :delete,
                                        data: { confirm: "Уверены?"} %>
      <% end %>
  </span>
  
</li>