$("#unlike_<%= @micropost.id %>").removeClass('glyphicon-heart-empty').addClass('glyphicon-heart');
$("#unlike_<%= @micropost.id %>").attr("href", '/events/<%= @micropost.id %>/like');
$("#likes_<%= @micropost.id %>").html("<%= j (render partial: 'microposts/likes', locals: { micropost: @micropost } ) %>");