@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import "bootstrap-sprockets";
@import "bootstrap";

$light-gray: #777;
$gray-lighter: #555;

@mixin box_sizing {
  -moz-box_sizing: border-box;
  -wbkit-box_sizing: border-box;
  box_sizing: border-box;
}

/* universal */

body{
  font-family: 'Roboto', sans-serif;
  padding-top: 60px;
  background-color: #F1F1F1;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1{
    margin-bottom: 10px;
  }
}



/* typography */

h1, h2, h3, h4, h5, h6{
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}
h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a{
    color: #555;
    &:hover {
      color:#222;
    }
  }
small {
  float:left;
}
ul {
  float: right;
  list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }  
  }
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
    a {
      text-decoration: none;
    }
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit{
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  
  a {
    float: left;
    padding: 0 10px;
    #border-left: 1px solid $gray-lighter;
    color:gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #337ab7;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.user.follow {
  padding: 0;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing; 
}

input {
  height: auto !important;
}
#error_explanation{
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}
.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  @include box-sizing; 
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border:  $gray-lighter;
  }
  
}
/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
    a {
      text-decoration: none;
    }
  }
  .content{
    display: block;
    margin-left: 60px;
    img{
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .glyphicon-heart-empty, .glyphicon-heart{
  text-decoration: none;
  
}
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

/* navbar-header */

.nav, .navbar {
  .dropdown-menu{
    right: right;
  }
  .container {
    background-color:#337ab7;
  }
  .open > a:focus{
     background-color: #2d4373;
  }
  ul {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    li {
      font-weight: 500;
      font-size: 16px;
      color: #ffffff;
      
      a {
        font-weight: 500;
        font-size: 16px;
        color: #ffffff;
      }
    }
  }
 
  ul {
    background: #337ab7;
    > li {
      
      > a {
        
        
        padding: 15px 30px;
        
        &:hover {
          background: #2d4373;
          color: #ffffff;
          box-shadow: inset 0 0 1px #1e2e4f;
          transition: all ease .3s;
          
        }
      }
    }
  }
  
}

/* add-color */
form.add-color {
  width: 100%;
  display: flex;

  >:first-child {
    flex-grow: 1;
  }

  input, button {
    margin: .5em;
    padding: .25em;
    font-size: 1.2em;
    border-radius: 5px;
  }

  input[type="color"] {
    padding: 0;
    height: +2em;
  }

  button {
    background-color: green;
    color: white;
    border: none;
  }

}
