<div class="row">
  <aside class="col-md-4">
    <section class="user_info" >
     <%= link_to image_tag(gravatar_for(current_user, size: 100), alt: current_user.name, class: "gravatar"), current_user %>
      <h1><%= link_to "#{current_user.name}", current_user %></h1>
      <span> <% pluralize(current_user.microposts.count, "новост") %> </span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Лента новостей</h3>
    <%= render 'shared/feed' %>
  </div>
</div>