<header class="navbar navbar-fixed-top">
      <div class="container">
        <%= link_to "sample app", root_path, id: "logo" %>
        <nav >
          <ul class="collapse navbar-collapse nav navbar-nav navbar-right">
            <li><%= link_to "Главная", root_path %></li>
            <li><%= link_to "ReactJS",   reactJS_path %></li>
            <% if logged_in? %>
            <li><%= link_to "Поиск", users_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Аккаунт <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Профиль", current_user %></li>
                <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
                <li>
                  <%= link_to "Выйти", logout_path, method: :delete %>
                </li>
              </ul>
            </li>
            <% else %>
              <li><%= link_to "Войти", login_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>